

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 80%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
}

.container-1{
    width: 80%;
    margin: 0 auto;
    padding: 8% 1% 1% 1%;
}

.container-2{
    width: 80%;
    margin: 0 auto;
    padding: 12% 1% 1% 1%;
}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.box-3 .img-curve{
    border-radius: 15px 15px 0 0;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    text-transform: uppercase;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.box-3 .text-white{
color: #131418;
}

.text-yellow{
    color: rgb(202, 239, 17);
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: rgb(72, 20, 20);
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1.2%;
    border: none;
    font-size: 1rem;
    border-radius: 75px;
}
.btn-primary{
    position: relative;
    text-align: center;
    background-color: darkcyan;    
    color: white;
    cursor: pointer;
    text-decoration: none; 
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
    box-shadow: 
    0 2px 25px 0 #1e90ff inset, 0 2px 25px 0 #1e90ff, 0 2px 5px 0 #1e90ff inset, 0 2px 5px 0 #1e90ff;
    text-shadow: 0 0 15px black, 0 0 15px black;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.box-3 .float-text{
    position: unset;
    text-align: center;
    bottom: 0;
    left: 30%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}


/* CSSS for navbar section */
.navbar{
    height: 6rem;
    width: 100vw;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.menu{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.menu li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.menu li a:hover {
    color: black;
}
.menu li {
    position: relative;
}
/*.menu li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}*/
.menu li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: darkcyan;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    color: wheat;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: black;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.food1-search{
    background-image: url(../images/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
    text-transform: capitalize;
    border: 1px solid;
    border-radius: 17px;
    background-color: aliceblue;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: aliceblue;
    border-radius: 15px;
    text-transform: capitalize;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393E46;
    color: white;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #E5E0FF;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}

.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}




/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .navbar{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .menu{
        position: fixed;
        background: aquamarine;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .menu.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .menu li{
        opacity: 0;
    }
    .menu li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .menu li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .menu li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .menu li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .menu li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .menu li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .menu li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 30% 0;
    }
    
    .food-search1{
        padding: 30% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
    .a{
        color: cyan;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

